<?xml version="1.0" encoding="UTF-8" ?> 
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.intel.sample_handbell" versionCode="1" version="0.0.1">

  <name>Compass</name> 
  <content src="index.html" /> 
  <icon src="icon.png" /> 
  <description>Compass is demo how to use PhoneGap compass API</description> 
  <author href="http://software.intel.com/html5">Intel Corporation</author> 

  <preference name="orientation" value="portrait" /> 
  <preference name="android-minSdkVersion" value="9" /> 

  <preference name="permissions" value="none" /> 

</widget>
  